.leo {
  display: none;
}
.sandler {
  display: none;
}
.scarlett {
  display: none;
}
.kesha {
  display: none;
}
.betty {
  display: none;
}
.cranston {
  display: none;
}
.gwenyth {
  display: none;
}
.lucy {
  display: none;
}
.portman {
  display: none;
}
.jayma {
  display: none;
}
.sparks {
  display: none;
}
.katy {
  display: none;
}
.kristen {
  display: none;
}
.lohan {
  display: none;
}
.kim {
  display: none;
}
.paris {
  display: none;
}
.joseph {
  display: none;
}
.daniel {
  display: none;
}
.conan {
  display: none;
}
.stallone {
  display: none;
}
.park {
  display: none;
}
.spade {
  display: none;
}
.tyler {
  display: none;
}
.carrot {
  display: none;
}
.robert {
  display: none;
}
.nope {
  display: none;
}
